.outer-box{
    border-collapse: collapse;
}

.inner-box{
    border: 1px solid #000;
}

.wrapper{
    text-align: center;
}

.center{
    position: relative;
}

.bg{
    background-color: #fff;
    color: #000;
}

.bg-black{
    background-color: #000;
    color: #fff;
}

p{
    background-color: #fff;
    color: #000;
}

.ghost-button {
    color: rgb(222, 213, 213);
    background-color: transparent;
    border: 2px solid rgb(207, 190, 190);
}

.ghost-button:hover, .ghost-button:active {
    color: #e9e9e9;
    background-color: transparent;
    box-shadow: 0 2px 7px #cab8b8;
}