{% extends "base.html" %}
{% load static %}

{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn ghost-button">Volver</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #ea2088; font-style: bold; font-size: 3rem;">Zona 2 Ruedas S.R.L.</div>
    <div class="align-middle" style="color: #000">Sistema de inventario</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#ea2088">| Sobre nosotros |</h3> <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci animi atque aut dignissimos dolor dolorem expedita explicabo fuga, laboriosam obcaecati odit similique! Aliquam assumenda, exercitationem modi non quas repellendus?
            </p>
        <br>
    </div>
        <h2 style="color:#ea2088" class="align-middle">| Ubicacion |</h3> <br>
            <img src="{% static 'img/ubicacion.jpg' %}" alt="" class="img-fluid">
        <br>

{% endblock content %}